.center {
    text-align: center;
    color: rgb(0, 0, 0);
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: rgb(0, 0, 0);
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
.container {
    margin-top: 30px;
}

img {
    max-width: 350px;
}

.greeting {
    height: 75px;
}

.header{
    text-align: center;
    background-color: rgb(85, 10, 81);
    color: rgb(213, 247, 175);
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.background{
   /* background-color: rgb(188, 116, 255); */
    background-image: url("./resources/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}